export(plot1d, plot2d, interca, intercaShiny)
import(ggplot2)
importFrom("shiny","shinyUI")
importFrom("shiny","tabPanel")
importFrom("shiny","sidebarLayout")
importFrom("shiny","sidebarPanel")
importFrom("shiny","selectInput")
importFrom("shiny","uiOutput")
importFrom("shiny","fileInput")
importFrom("shiny","checkboxInput")
importFrom("shiny","radioButtons")
importFrom("shiny","actionButton")
importFrom("shiny","mainPanel")
importFrom("shiny","downloadButton")
importFrom("shiny","sliderInput")
importFrom("shiny","plotOutput")
importFrom("shiny","shinyServer")
importFrom("shiny","renderUI")
importFrom("shiny","observeEvent")
importFrom("shiny","reactiveValues")
importFrom("shiny","tags")
importFrom("shiny","renderPlot")
importFrom("shiny","downloadHandler")
importFrom("shiny","shinyApp")
importFrom("shiny","updateRadioButtons")
importFrom("shiny","stopApp")
importFrom("shiny","textInput")
importFrom("shiny","navbarPage")
import(DT)
importFrom("FactoMineR", "MCA")
importFrom("factoextra","fviz_eig")
importFrom("dplyr","filter")
importFrom("ggrepel","geom_label_repel")
importFrom("magrittr","%>%")
importFrom("dplyr","filter")
importFrom("rmarkdown","render")
importFrom("readr","read_csv")
importFrom("readxl","read_xlsx")
importFrom("shinyFeedback","useShinyFeedback")
importFrom("waiter","useWaitress")
importFrom("shinyWidgets","useSweetAlert")
importFrom("openxlsx","write.xlsx")
exportPattern("^[[:alpha:]]+")

